.DS_Store
thumbs.db
node_modules/
npm-debug.log
yarn-error.log
example/src/assets/css

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
docs/assets/css/bootstrap.css
docs/assets/css/bootstrap-responsive.css
docs/assets/css/bootstrap-responsive.min.css
docs/assets/css/bootstrap.min.css
docs/assets/css/style.css
