<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VUE-SIMPLE-SUGGEST</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/github-markdown.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/pilcrow.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/hljs-github.min.css"/>
  </head>
  <body>
    <div id="app"></div>
    <%= require('./README.html') %>
  </body>
</html>
