<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VUE-SIMPLE-SUGGEST</title>
    <style>
      .markdown-body {
        padding: 30px !important;
      }

      body {
        max-width: initial !important;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <%= require('./README.html') %>
  </body>
</html>
