<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>vue-simple-suggest</title>
    <link type="text/css" rel="stylesheet" href="assets/css/github-markdown.css">
    <link type="text/css" rel="stylesheet" href="assets/css/pilcrow.css">
    <link type="text/css" rel="stylesheet" href="assets/css/hljs-github.min.css"/>
  </head>
  <body>
    <article class="markdown-body"><h1 id="vue-simple-suggest"><a class="header-link" href="#vue-simple-suggest"></a>vue-simple-suggest</h1>
<blockquote>
<p>Simple yet feature-rich autocomplete component for Vue.js</p>
</blockquote>
<p><a href="https://www.npmjs.com/package/vue-simple-suggest"><img src="https://img.shields.io/npm/v/vue-simple-suggest.svg?style=flat-square" alt="npm"></a>
<a href="https://kazanexpress.github.io/vue-simple-suggest/"><img src="https://img.shields.io/badge/demo-live-brightgreen.svg?style=flat-square" alt="live demo"></a>
<a href="https://github.com/KazanExpress/vue-simple-suggest"><img src="https://img.shields.io/badge/github-repo-lightgray.svg?style=flat-square" alt=""></a>
<a href="https://github.com/vuejs/awesome-vue#autocomplete"><img src="https://img.shields.io/badge/very-awesome-orange.svg?style=flat-square" alt=""></a> <a href="https://www.npmjs.com/package/vue-simple-suggest"><img src="https://img.shields.io/npm/dt/vue-simple-suggest.svg?style=flat-square" alt="npm"></a></p>
<h2 id="install"><a class="header-link" href="#install"></a>Install</h2>
<pre class="hljs"><code>npm install --save vue-simple-suggest</code></pre><p>See <a href="#installation">installation guide</a> for more options.</p>
<h2 id="table-of-contents"><a class="header-link" href="#table-of-contents"></a>Table of contents</h2>
<ul class="list">
<li><a href="#what-is-it">What is it?</a></li>
<li><a href="#simple-example">Simple example</a></li>
<li><a href="#installation">Installation</a></li>
<li><a href="#build-setup">Build</a></li>
<li><a href="#default-controls">Controls</a></li>
<li><a href="#component-api">Component API</a><ul class="list">
<li><a href="#tldr">TLDR</a></li>
<li><a href="#css-class-structure">CSS class structure</a></li>
<li><a href="#api-definitions">API Definitions</a><ul class="list">
<li><a href="#props">Props</a></li>
<li><a href="#emitted-events">Emitted Events</a></li>
<li><a href="#ref-methods">Ref Methods</a></li>
<li><a href="#ref-event-handlers">Ref Event Handlers</a></li>
<li><a href="#ref-data">Ref Data</a></li>
</ul>
</li>
<li><a href="#slots">Slots</a><ul class="list">
<li><a href="#custom-input">Custom input</a></li>
<li><a href="#custom-suggestion-item">Custom suggestion item</a></li>
<li><a href="#custom-miscellanious-item-slots">Custom miscellanious item slots</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<h2 id="what-is-it"><a class="header-link" href="#what-is-it"></a>What is it</h2>
<p>This is a simple yet feature-rich suggestion/autocomplete component for Vue.js.</p>
<p>Actually, it&#39;s so feature rich, that it&#39;s possible to do crazy stuff with it, like</p>
<ul class="list">
<li>Imitating drop-downs and drop-down menus</li>
<li>Turn suggestions list into an actual suggestions table</li>
<li>Work with ANY type of custom input passed (like type=button, radio and etc.)</li>
<li>... And many more things</li>
</ul>
<p>And, as a bonus, it is very light.</p>
<h3 id="features"><a class="header-link" href="#features"></a>Features</h3>
<ul class="list">
<li><code>v-model</code> support.</li>
<li>Switching <code>v-model</code> type (select/input).</li>
<li><a href="#custom-input">Custom input</a> element through default slot.</li>
<li><a href="#custom-suggestion-item">Custom list items</a> through named scoped slots.</li>
<li>All HTML5-valid props for default input element are provided (<code>type</code>, <code>tabindex</code> and etc...).</li>
<li>Customizable <a href="#default-controls">keyboard controls</a>.</li>
<li>Rich and simple <a href="#api-definitions">API</a>.</li>
<li><a href="#css-class-structure">CSS classes</a> for quick and easy restyling.</li>
<li>Many build variants to choose from.</li>
<li>Flexible and customizable component design.</li>
</ul>
<p>All of the props, events and slots are OPTIONAL for this component, so it can be used without any configuration at all.</p>
<h3 id="new-features?"><a class="header-link" href="#new-features?"></a>New features?</h3>
<p>If you feel that something important is missing (or found a bug) - feel free to <a href="https://github.com/KazanExpress/vue-simple-suggest/issues/new">create an issue</a>. :)</p>
<hr>
<h2 id="simple-example"><a class="header-link" href="#simple-example"></a>Simple example</h2>
<p>To use the component just install via NPM:</p>
<p><code>npm install --save vue-simple-suggest</code></p>
<p>Then, in your Vue.js component/page:</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- Some component.vue --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">vue-suggest</span>
    <span class="hljs-attr">v-model</span>=<span class="hljs-string">"chosen"</span>
    <span class="hljs-attr">:list</span>=<span class="hljs-string">"simpleSuggestionList"</span>
    <span class="hljs-attr">:filter-by-query</span>=<span class="hljs-string">"true"</span>&gt;</span>
<span class="hljs-comment">&lt;!-- Filter by input text to only show the matching results --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">vue-suggest</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Chosen element: {{ chosen }}<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
  <span class="hljs-keyword">import</span> VueSuggest <span class="hljs-keyword">from</span> <span class="hljs-string">'vue-simple-suggest'</span>
  <span class="hljs-keyword">import</span> <span class="hljs-string">'vue-simple-suggest/dist/styles.css'</span> <span class="hljs-comment">// Optional CSS</span>

  <span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
    <span class="hljs-attr">components</span>: {
      VueSuggest
    },
    data() {
      <span class="hljs-keyword">return</span> {
        <span class="hljs-attr">chosen</span>: <span class="hljs-string">''</span>
      }
    },
    <span class="hljs-attr">methods</span>: {
      simpleSuggestionList() {
        <span class="hljs-keyword">return</span> [
          <span class="hljs-string">'Vue.js'</span>,
          <span class="hljs-string">'React.js'</span>,
          <span class="hljs-string">'Angular.js'</span>
        ]
      }
    }
  }
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre><hr>
<h2 id="installation"><a class="header-link" href="#installation"></a>Installation</h2>
<h3 id="npm"><a class="header-link" href="#npm"></a>NPM</h3>
<pre class="hljs"><code>npm install --save vue-simple-suggest
<span class="hljs-comment"># or</span>
yarn add vue-simple-suggest</code></pre><h3 id="unpkg"><a class="header-link" href="#unpkg"></a>Unpkg</h3>
<p>If including via this method - the component will automatically install itself.</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- UMD Component, async/await polyfills through promises --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/javascript"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://unpkg.com/vue-simple-suggest"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/javascript"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://unpkg.com/vue-simple-suggest@1.5.1"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
                                                              <span class="hljs-comment">&lt;!-- Specific version --&gt;</span>

<span class="hljs-comment">&lt;!-- CSS --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://unpkg.com/vue-simple-suggest/dist/styles.css"</span>&gt;</span>

<span class="hljs-comment">&lt;!-- If you need polyfills, use IIFE verision below --&gt;</span>
<span class="hljs-comment">&lt;!-- IIFE build includes ALL polyfills: Object.assign, Promises, Generators, Async/Await! --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/javascript"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://unpkg.com/vue-simple-suggest/dist/iife.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre><h3 id="importing"><a class="header-link" href="#importing"></a>Importing</h3>
<pre class="hljs"><code><span class="hljs-comment">/// ESNext (original code, no pollyfills, single-file .vue component, css included)</span>
<span class="hljs-keyword">import</span> VueSimpleSuggest <span class="hljs-keyword">from</span> <span class="hljs-string">'vue-simple-suggest/lib'</span>
<span class="hljs-comment">///</span>

<span class="hljs-comment">/// ES6 (async polyfills)</span>
<span class="hljs-keyword">import</span> VueSimpleSuggest <span class="hljs-keyword">from</span> <span class="hljs-string">'vue-simple-suggest'</span>
<span class="hljs-comment">// or, if you have problems importing:</span>
<span class="hljs-keyword">import</span> VueSimpleSuggest <span class="hljs-keyword">from</span> <span class="hljs-string">'vue-simple-suggest/dist/es6'</span>
<span class="hljs-comment">///</span>

<span class="hljs-comment">/// ES7 and above (no polyfills)</span>
<span class="hljs-keyword">import</span> VueSimpleSuggest <span class="hljs-keyword">from</span> <span class="hljs-string">'vue-simple-suggest/dist/es7'</span>
<span class="hljs-comment">///</span>

<span class="hljs-comment">/// CommonJS (async, Object.assign and promises are polyfilled)</span>
<span class="hljs-keyword">const</span> VueSimpleSuggest = <span class="hljs-built_in">require</span>(<span class="hljs-string">'vue-simple-suggest'</span>)
<span class="hljs-comment">// or, if you have problems importing:</span>
<span class="hljs-keyword">const</span> VueSimpleSuggest = <span class="hljs-built_in">require</span>(<span class="hljs-string">'vue-simple-suggest/dist/cjs'</span>)
<span class="hljs-comment">///</span>

<span class="hljs-comment">// Optional - import css separately with css loaders:</span>
<span class="hljs-keyword">import</span> <span class="hljs-string">'vue-simple-suggest/dist/styles.css'</span></code></pre><h3 id="usage"><a class="header-link" href="#usage"></a>Usage</h3>
<p><strong>Globaly:</strong></p>
<pre class="hljs"><code><span class="hljs-comment">// You don't need to do it, if including via &lt;script&gt; (umd, iife)</span>
Vue.component(<span class="hljs-string">'vue-simple-suggest'</span>, VueSimpleSuggest)</code></pre><p><strong>In single-file .vue components:</strong></p>
<pre class="hljs"><code><span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
  <span class="hljs-keyword">import</span> VueSimpleSuggest <span class="hljs-keyword">from</span> <span class="hljs-string">'vue-simple-suggest'</span>
  <span class="hljs-keyword">import</span> <span class="hljs-string">'vue-simple-suggest/dist/styles.css'</span> <span class="hljs-comment">// Using a css-loader</span>

  <span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
    <span class="hljs-attr">components</span>: {
      VueSimpleSuggest
    }
  }
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre><hr>
<h2 id="build-setup"><a class="header-link" href="#build-setup"></a>Build Setup</h2>
<pre class="hljs"><code><span class="hljs-comment"># clone the repo</span>
git <span class="hljs-built_in">clone</span> https://github.com/KazanExpress/vue-simple-suggest.git
<span class="hljs-built_in">cd</span> ./vue-simple-suggest

<span class="hljs-comment"># install dependencies</span>
npm install

<span class="hljs-comment"># serve example with hot reload at localhost</span>
npm run dev

<span class="hljs-comment"># build example &amp; readme for static serving</span>
npm run docs</code></pre><hr>
<h2 id="default-controls"><a class="header-link" href="#default-controls"></a>Default Controls</h2>
<blockquote>
<p>New in <a href="https://github.com/KazanExpress/vue-simple-suggest/releases/tag/v1.2.0">v1.2.0</a></p>
</blockquote>
<p>These are default keyboard shortcuts.</p>
<p>Can be customized with the <a href="#props"><code>controls</code> prop</a>. All fields in this <code>controls</code> object are optional.</p>
<p>Default scheme:</p>
<table>
<thead>
<tr>
<th>Key (key code)</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Escape</code> (27)</td>
<td>If the suggestions list is shown - hide it. Defined by <code>hideList</code> property.</td>
</tr>
<tr>
<td><code>ArrowDown</code> (40)</td>
<td>If the suggestions list is hidden - show it.  Defined by <code>selectionDown</code> property.</td>
</tr>
<tr>
<td><code>ArrowUp</code> (38) / <code>ArrowDown</code> (40)</td>
<td>Cycle (hover) through suggestions.  Defined by <code>selectionUp</code>/<code>selectionDown</code> properties respectfully.</td>
</tr>
<tr>
<td><code>Enter</code> (13)</td>
<td>If the list is shown - chooses the highlighted element, if the list is hidden - refills the suggestions based on current input text.  Defined by <code>select</code> property.</td>
</tr>
<tr>
<td><code>(Ctrl/Shift) + Space</code> (32)</td>
<td>Select the first element in the list.  Defined by <code>autocomplete</code> property. Works with <code>Ctrl</code> modifier key or <code>Shift</code> modifier key.</td>
</tr>
<tr>
<td><code>(Ctrl/Shift) + Enter</code> (13)</td>
<td>Same as previous, but also hides the suggestions list.</td>
</tr>
</tbody>
</table>
<p>JS object:</p>
<pre class="hljs"><code>{
  <span class="hljs-attr">selectionUp</span>: [<span class="hljs-number">38</span>],
  <span class="hljs-attr">selectionDown</span>: [<span class="hljs-number">40</span>],
  <span class="hljs-attr">select</span>: [<span class="hljs-number">13</span>],
  <span class="hljs-attr">hideList</span>: [<span class="hljs-number">27</span>],
  <span class="hljs-attr">autocomplete</span>: [<span class="hljs-number">32</span>, <span class="hljs-number">13</span>]
}</code></pre><hr>
<h2 id="component-api"><a class="header-link" href="#component-api"></a>Component API</h2>
<h3 id="tldr"><a class="header-link" href="#tldr"></a>TLDR</h3>
<details><summary>Click to expand</summary>

<code>html
&lt;!-- Ref to access the API, v-model for efficient query binding --&gt;
&lt;vue-simple-suggest ref=&quot;vueSimpleSuggest&quot; v-model=&quot;model&quot;
  value-attribute=&quot;id&quot;
  display-attribute=&quot;title&quot;
  mode=&quot;input&quot;
  :placeholder=&quot;placeholder!!!&quot;
  :list=&quot;getListFunction&quot;
  :max-count=&quot;10&quot;
  :min-length=&quot;3&quot;
  :debounce=&quot;100&quot;
  :destyled=&quot;false&quot;
  :remove-list=&quot;false&quot;
  :filter-by-query=&quot;false&quot;
  :filter=&quot;customFilterFunction&quot;
  :value=&quot;defaultValue&quot;
  :controls=&quot;{
    selectionUp: [38, 33],
    selectionDown: [40, 34],
    select: [13, 36],
    hideList: [27, 35],
    autocomplete: [32, 13],
  }&quot;
  @input=&quot;onInputEvent&quot;
  @select=&quot;onSuggestSelect&quot;
  @hover=&quot;onSuggestHover&quot;
  @focus=&quot;onFocus&quot;
  @blur=&quot;onBlur&quot;
  @request-start=&quot;onRequestStart&quot;
  @request-done=&quot;onRequestDone&quot;
  @request-failed=&quot;onRequestFailed&quot;
  @show-list=&quot;onShowList&quot;
  @hide-list=&quot;onHideList&quot;
&gt;
  &lt;!-- v-model on input itself is useless --&gt;
  &lt;input class=&quot;optional-custom-input&quot;&gt;

  &lt;!-- Appears o top of the list --&gt;
  &lt;template slot=&quot;misc-item-above&quot; slot-scope=&quot;{ suggestions, query }&quot;&gt;
    &lt;div class=&quot;misc-item&quot;&gt;
      &lt;span&gt;You&#39;re searching for {{ query }}.&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;misc-item&quot;&gt;
      &lt;span&gt;{{ suggestions.length }} suggestions are shown...&lt;/span&gt;
    &lt;/div&gt;
    &lt;hr&gt;
  &lt;/template&gt;

  &lt;div slot=&quot;suggestion-item&quot; slot-scope=&quot;{ suggestion }&quot; class=&quot;custom&quot;&gt;{{ suggestion.title }}&lt;/div&gt;

  &lt;!-- Appears below the list --&gt;
  &lt;div class=&quot;misc-item&quot; slot=&quot;misc-item-below&quot; slot-scope=&quot;{ suggestions }&quot; v-if=&quot;loading&quot;&gt;
    &lt;span&gt;Loading...&lt;/span&gt;
  &lt;/div&gt;
&lt;/vue-simple-suggest&gt;</code>

</details>

<hr>
<h3 id="css-class-structure"><a class="header-link" href="#css-class-structure"></a>CSS class structure</h3>
<p>If there&#39;s a need to customize the appearance of the component, here&#39;s the internal class-structure:</p>
<pre class="hljs"><code><span class="hljs-comment">// .designed is applied only if `destyled` prop is false</span>
<span class="hljs-selector-class">.vue-simple-suggest</span><span class="hljs-selector-class">.designed</span><span class="hljs-selector-class">.focus</span> <span class="hljs-comment">// .focus is applied whenever the component is focused.</span>
  <span class="hljs-selector-class">.input-wrapper</span>
    <span class="hljs-selector-class">.default-input</span> <span class="hljs-comment">// Replaced with your custom input if default slot is provided</span>
  <span class="hljs-selector-class">.suggestions</span>
    <span class="hljs-selector-class">.suggest-item</span></code></pre><hr>
<h3 id="api-definitions"><a class="header-link" href="#api-definitions"></a>API definitions</h3>
<h4 id="props"><a class="header-link" href="#props"></a>Props</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>controls</code> <sup><a href="https://github.com/KazanExpress/vue-simple-suggest/releases/tag/v1.2.0">v1.2.0</a></sup></td>
<td>Object</td>
<td>See <a href="#default-controls">default controls</a></td>
<td>Determines the keyboard shortcuts in key-codes (for browser-compatibility purposes). Arrays provide the ability to assign multiple keys to one action. Consists of 5 array fields: <code>selectionUp</code>, <code>selectionDown</code>, <code>select</code>, <code>hideList</code> and <code>autocomplete</code>, all of which are optional.</td>
</tr>
<tr>
<td><code>max-suggestions</code></td>
<td>Number</td>
<td><code>10</code></td>
<td>The maximum amount of suggestions to display. Set to 0 for infinite suggestions.</td>
</tr>
<tr>
<td><code>display-attribute</code></td>
<td>String</td>
<td><code>&#39;title&#39;</code></td>
<td>The property in a suggestion object to display in a list. Supports dotted paths.</td>
</tr>
<tr>
<td><code>value-attribute</code></td>
<td>String</td>
<td><code>&#39;id&#39;</code></td>
<td>The property in a suggestion object to use as a unique key. Supports dotted paths.</td>
</tr>
<tr>
<td><code>list</code></td>
<td>Funciton or Array</td>
<td><code>() =&gt; []</code></td>
<td>The array provider function, must accept a query as its only argument. Can return an array or a promise. Can be async. The component behaves as a simple input without this function.</td>
</tr>
<tr>
<td><code>debounce</code></td>
<td>Number</td>
<td><code>0</code></td>
<td>Determines the <code>list</code> debounce (a time between the input event and a function execution).</td>
</tr>
<tr>
<td><code>destyled</code></td>
<td>Boolean</td>
<td><code>false</code></td>
<td>Whether to cancel the default styling of input and suggestions list.</td>
</tr>
<tr>
<td><code>remove-list</code></td>
<td>Boolean</td>
<td><code>false</code></td>
<td>If true - the suggestion list will be always hidden.</td>
</tr>
<tr>
<td><code>filter-by-query</code></td>
<td>Boolean</td>
<td><code>false</code></td>
<td>Whether to filter the resulting suggestions by input&#39;s text query (make it a search component).</td>
</tr>
<tr>
<td><code>filter</code></td>
<td>Function</td>
<td>-</td>
<td>A custom function for filtering the suggestion results. Used only if <code>filter-by-query</code> is set <code>true</code>.</td>
</tr>
<tr>
<td><code>mode</code> <sup><a href="https://github.com/KazanExpress/vue-simple-suggest/releases/tag/v1.4.0">v1.4.0</a></sup></td>
<td>String</td>
<td><code>&#39;input&#39;</code></td>
<td>The <code>v-model</code> event. Determines the event, that triggers <code>v-model</code>. Can be one of <code>&#39;input&#39;</code> (<code>v-model</code> binds a displayed property) or <code>&#39;select&#39;</code> (<code>v-model</code> binds a selected item).</td>
</tr>
<tr>
<td><code>type</code>, <code>value</code>, <code>pattern</code>, etc...</td>
<td></td>
<td></td>
<td>All of the HTML5 input attributes with their respected default values.</td>
</tr>
</tbody>
</table>
<h5 id="mode"><a class="header-link" href="#mode"></a>mode</h5>
<blockquote>
<p>New in <a href="https://github.com/KazanExpress/vue-simple-suggest/releases/tag/v1.4.0">v1.4.0</a></p>
</blockquote>
<p>Determines the event, that triggers <code>v-model</code>. Can be one of <code>&#39;input&#39;</code> (default) or <code>&#39;select&#39;</code>.</p>
<p>For example, if <code>&#39;input&#39;</code> is chosen - then v-model will update the value each time an <a href="#emitted-events"><code>input</code></a> event is fired, setting the input&#39;s string.</p>
<p>Same is for <code>&#39;select&#39;</code> - v-model changes only when something is selected from the list, setting the selected value (string, object or whatever) to its argument.</p>
<p>A proper use-case for it being when one wants to use the component only for selection binding and custom input for text binding:</p>
<pre class="hljs"><code><span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span> <span class="hljs-attr">v-model</span>=<span class="hljs-string">"selected"</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"select"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">v-model</span>=<span class="hljs-string">"text"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><hr>
<h4 id="emitted-events"><a class="header-link" href="#emitted-events"></a>Emitted Events</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Arguments</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>input</code></td>
<td>HTML input event</td>
<td>An outward projection of the current input&#39;s event.</td>
</tr>
<tr>
<td><code>focus</code></td>
<td>HTML focus event</td>
<td>An outward projection of the current input&#39;s event.</td>
</tr>
<tr>
<td><code>blur</code></td>
<td>HTML focus event</td>
<td>An outward projection of the current input&#39;s event.</td>
</tr>
<tr>
<td><code>select</code></td>
<td>Selected suggestion</td>
<td>Fires on suggestion selection (via a mouse click or enter keypress).</td>
</tr>
<tr>
<td><code>hover</code></td>
<td>Hovered suggestion</td>
<td>Fires each time a new suggestion is highlighted (via a cursor movement or keyboard arrows).</td>
</tr>
<tr>
<td><code>suggestion-click</code></td>
<td>Selected suggestion, HTML click event</td>
<td>Fires on suggestion element click.</td>
</tr>
<tr>
<td><code>show-list</code></td>
<td>-</td>
<td>Fires each time the suggestion list is toggled to be shown.</td>
</tr>
<tr>
<td><code>hide-list</code></td>
<td>-</td>
<td>Fires each time the suggestion list is being hidden.</td>
</tr>
<tr>
<td><code>request-start</code></td>
<td>Current input value (query)</td>
<td>Fires each time a <code>list</code> function starts executing.</td>
</tr>
<tr>
<td><code>request-done</code></td>
<td>Resulting suggestions list</td>
<td>Fires when a <code>list</code> function successfully returns a result and forwards that result as an argument.</td>
</tr>
<tr>
<td><code>request-failed</code></td>
<td>The interrrupting exception</td>
<td>Fires if an exception occurs during the execution of a <code>list</code> funciton.</td>
</tr>
</tbody>
</table>
<hr>
<h4 id="ref-methods"><a class="header-link" href="#ref-methods"></a>Ref Methods</h4>
<blockquote>
<p>accessed via <code>$refs.*your ref name here*</code></p>
</blockquote>
<table>
<thead>
<tr>
<th>Name</th>
<th>Arguments</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>showList</code></td>
<td>-</td>
<td>Shows the suggestion list. Emits the respected <a href="#emitted-events">event</a>.</td>
</tr>
<tr>
<td><code>hideList</code></td>
<td>-</td>
<td>Hides the suggestion list. Emits the respected <a href="#emitted-events">event</a>.</td>
</tr>
<tr>
<td><code>getSuggestions</code></td>
<td><code>query</code>: string</td>
<td>Gets and processes suggestions from the <code>list</code> prop. Returns a promise. Emits the <code>requestStart</code>, <code>requestDone</code> and <code>requestFailed</code> <a href="#emitted-events">events</a>.</td>
</tr>
<tr>
<td><code>research</code></td>
<td>-</td>
<td>Debounced <code>getSuggestions</code> on the current input value.</td>
</tr>
<tr>
<td><code>clearSuggestions</code></td>
<td>-</td>
<td>Clears the <code>suggestions</code> array.</td>
</tr>
<tr>
<td><code>select</code></td>
<td>suggestion</td>
<td>Selects the passed suggestion. Emits the respected <a href="#emitted-events">event</a>.</td>
</tr>
<tr>
<td><code>hover</code></td>
<td>suggestion</td>
<td>Hovers over the passed suggestion. Emits the respected <a href="#emitted-events">event</a>.</td>
</tr>
<tr>
<td><code>displayProperty</code></td>
<td>suggestion</td>
<td>Returns the displayed property of a suggestion.</td>
</tr>
<tr>
<td><code>valueProperty</code></td>
<td>suggestion</td>
<td>Returns the value property of a suggestion.</td>
</tr>
</tbody>
</table>
<hr>
<h4 id="ref-event-handlers"><a class="header-link" href="#ref-event-handlers"></a>Ref Event Handlers</h4>
<blockquote>
<p>accessed via <code>$refs.*your ref name here*</code></p>
</blockquote>
<p>You can use these to imitate some of the component&#39;s behaviours.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Arguments</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>showSuggestions</code></td>
<td>Alias for <code>onInputClick</code>. Will replace it in the future releases</td>
</tr>
<tr>
<td><code>onInput</code></td>
<td>HTML input event</td>
<td>Fires whenever the input text is changed. Emits the <a href="#emitted-events"><code>input</code></a> event.</td>
</tr>
<tr>
<td><code>onFocus</code></td>
<td>HTML focus event</td>
<td>Fires whenever the input comes into focus, emits the <a href="#emitted-events"><code>focus</code></a> event.</td>
</tr>
<tr>
<td><code>onBlur</code></td>
<td>HTML focus event</td>
<td>Antonym to <code>onFocus</code>.</td>
</tr>
<tr>
<td><code>onAutocomplete</code></td>
<td>-</td>
<td>Fires when the autocomplete <a href="#default-controls">keyboard shortcut</a> is pressed. Selects the first suggestion.</td>
</tr>
<tr>
<td><code>onListKeyUp</code></td>
<td>HTML keyup event</td>
<td>Fires on component keyup. Internally used for hiding the list.</td>
</tr>
<tr>
<td><code>moveSelection</code></td>
<td>Alias for <code>onArrowKeyDown</code>. Will replace it in the future releases.</td>
</tr>
</tbody>
</table>
<hr>
<h4 id="ref-data"><a class="header-link" href="#ref-data"></a>Ref Data</h4>
<blockquote>
<p>accessed via <code>$refs.*your ref name here*</code></p>
</blockquote>
<table>
<thead>
<tr>
<th>Name</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>selected</code></td>
<td><code>null</code></td>
<td>Currently selected element.</td>
</tr>
<tr>
<td><code>hovered</code></td>
<td><code>null</code></td>
<td>Currently hovered element.</td>
</tr>
<tr>
<td><code>suggestions</code></td>
<td><code>[]</code></td>
<td>Current suggestions list.</td>
</tr>
<tr>
<td><code>listShown</code></td>
<td><code>false</code></td>
<td>Is suggestion list shown.</td>
</tr>
<tr>
<td><code>inputElement</code></td>
<td><code>null</code></td>
<td>Currently used HTMLInputElement.</td>
</tr>
<tr>
<td><code>canSend</code></td>
<td><code>true</code></td>
<td>Whether the assigned getListFuncion can be executed.</td>
</tr>
<tr>
<td><code>timeoutInstance</code></td>
<td><code>null</code></td>
<td>The timeout until next getListFunction execution.</td>
</tr>
<tr>
<td><code>text</code></td>
<td><code>$props.value</code></td>
<td>Current input text.</td>
</tr>
<tr>
<td><code>slotIsComponent</code></td>
<td><code>false</code></td>
<td>Whether this current custom input is a vue-component.</td>
</tr>
<tr>
<td><code>listIsRequest</code></td>
<td>-</td>
<td>Whether the list prop is a function.</td>
</tr>
<tr>
<td><code>input</code></td>
<td>-</td>
<td>A ref to the current input (component or vanilla).</td>
</tr>
<tr>
<td><code>hoveredIndex</code></td>
<td>-</td>
<td>The current hovered element index.</td>
</tr>
<tr>
<td><code>controlScheme</code></td>
<td><a href="#default-controls">Default Controls</a></td>
<td>The current controls scheme.</td>
</tr>
<tr>
<td><code>isPlainSuggestion</code></td>
<td><code>false</code></td>
<td>Whether the current suggestions list consists of plain strings (not objects).</td>
</tr>
<tr>
<td><code>isClicking</code></td>
<td><code>false</code></td>
<td><code>true</code> if the user currently clicks.</td>
</tr>
<tr>
<td><code>isOverList</code></td>
<td><code>false</code></td>
<td><code>true</code> if the user currently hovers over suggestions list.</td>
</tr>
<tr>
<td><code>isInFocus</code></td>
<td><code>false</code></td>
<td><code>true</code> if the component is currently in focus.</td>
</tr>
<tr>
<td><code>isTabbed</code></td>
<td><code>false</code></td>
<td><code>true</code> if the user pressed tab, while the component is in focus.</td>
</tr>
</tbody>
</table>
<hr>
<h3 id="slots"><a class="header-link" href="#slots"></a>Slots</h3>
<h5 id="custom-input"><a class="header-link" href="#custom-input"></a>Custom input</h5>
<blockquote>
<p>default slot (optional)</p>
</blockquote>
<p>Supports nesting. Input props can be passed to a custom input to avoid their processing by vue-simple-suggest.
Defaults to a simple input with props passed to vue-simple-suggest.</p>
<p><strong>Warning:</strong> <code>v-model</code> on a custom input IS NOT the same as <code>v-model</code> on vue-simple-suggest!</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!--  Default HTMLInputElement example:  --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span> <span class="hljs-attr">v-model</span>=<span class="hljs-string">"model"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Text here"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"search"</span> <span class="hljs-attr">pattern</span>=<span class="hljs-string">"[a-z]+"</span>/&gt;</span></code></pre><pre class="hljs"><code><span class="hljs-comment">&lt;!--  Vanilla HTMLInputElement example 1:  --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">pattern</span>=<span class="hljs-string">"[a-z]+"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><pre class="hljs"><code><span class="hljs-comment">&lt;!--  Vanilla HTMLInputElement example 2:  --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span> <span class="hljs-attr">v-model</span>=<span class="hljs-string">"model"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Text here"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"search"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><pre class="hljs"><code><span class="hljs-comment">&lt;!--  Vanilla HTMLInputElement example 3 (fully equivalent to the second example):  --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span> <span class="hljs-attr">v-model</span>=<span class="hljs-string">"model"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Text here"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"search"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><pre class="hljs"><code><span class="hljs-comment">&lt;!--  Vanilla HTMLInputElement example 4 (nested):  --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">section</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"email"</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><pre class="hljs"><code><span class="hljs-comment">&lt;!--  Vue component example (also supports nesting):  --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">my-custom-input-somponent</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">my-custom-input-somponent</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><h5 id="custom-suggestion-item"><a class="header-link" href="#custom-suggestion-item"></a>Custom suggestion item</h5>
<blockquote>
<p><code>suggestion-item</code> slot (optional)</p>
</blockquote>
<p><strong>Description</strong></p>
<p>Allows custom html-definitons of the suggestion items in a list.
Defaults to <code>&lt;span&gt;{{ displayAttribute(suggestion) }}&lt;/span&gt;</code></p>
<p>Accepts the <code>suggestion</code> object and a <code>query</code> text as a <code>slot-scope</code> attribute values.</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- Example: --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"suggestion-item"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"{ suggestion, query }"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>{{ suggestion.title }} by {{ suggestion.author }}<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><p><strong>Custom buttons inside of suggestion items</strong></p>
<p>If you want to add some action buttons to the suggetion items, just use the <code>.stop</code> directive modifier to prevent the default <code>suggestion-click</code>:</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- Example: --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"suggestion-item"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"{ suggestion, query }"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>{{ suggestion.title }} by {{ suggestion.author }}<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> @<span class="hljs-attr">click.stop</span>=<span class="hljs-string">"remove(suggestion)"</span>&gt;</span>remove from list<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> @<span class="hljs-attr">click.stop</span>=<span class="hljs-string">"like(suggestion)"</span>&gt;</span>add to favorites<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><p>In this case, the buttons will ONLY execute the bound method and will not select the suggested item.</p>
<p><strong>Manual autocomplete</strong></p>
<p>If there&#39;s a need to autocomplete the suggestion in the input instead of selecting it, you can use the <code>autocomplete()</code> function in the slot&#39;s scope:</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- Example: --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"suggestion-item"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"{ suggestion, autocomplete }"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>{{ suggestion.title }} by {{ suggestion.author }}<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> @<span class="hljs-attr">click.stop</span>=<span class="hljs-string">"autocomplete()"</span>&gt;</span>Complete input<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><p><strong>Ref Data</strong></p>
<p>In cooperation with <a href="#ref-methods">ref fields</a> this slot can be used to drastically transform the suggestion list behaviour.</p>
<p>One of the simplest examples - highlighting the query text in the results:</p>
<pre class="hljs"><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"suggestion-item"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"scope"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">v-html</span>=<span class="hljs-string">"boldenSuggestion(scope)"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><pre class="hljs"><code>boldenSuggestion({ suggestion, query }) {
  <span class="hljs-keyword">let</span> result = <span class="hljs-keyword">this</span>.$refs.suggestComponent.displayProperty(suggestion);

  <span class="hljs-keyword">if</span> (!query) <span class="hljs-keyword">return</span> result;

  <span class="hljs-keyword">const</span> texts = query.split(<span class="hljs-regexp">/[\s-_/\\|\.]/gm</span>).filter(<span class="hljs-function"><span class="hljs-params">t</span> =&gt;</span> !!t) || [<span class="hljs-string">''</span>];
  <span class="hljs-keyword">return</span> result.replace(<span class="hljs-keyword">new</span> <span class="hljs-built_in">RegExp</span>(<span class="hljs-string">'(.*?)('</span> + texts.join(<span class="hljs-string">'|'</span>) + <span class="hljs-string">')(.*?)'</span>,<span class="hljs-string">'gi'</span>), <span class="hljs-string">'$1&lt;b&gt;$2&lt;/b&gt;$3'</span>);
}</code></pre><p>Result via Google Books search API:</p>
<p class="img-container"><img src="assets/screenshot.jpg" alt=""></p>
<h5 id="custom-miscellanious-item-slots"><a class="header-link" href="#custom-miscellanious-item-slots"></a>Custom miscellanious item slots</h5>
<blockquote>
<p><code>misc-item-above</code> and <code>misc-item-below</code> slots (optional)</p>
</blockquote>
<p>Allow custom elements to be shown in suggestion list. These elements never dissapear from the list, niether can they be selected nor hovered on.</p>
<p>These can be used for decoration, loaders, error messages and etc.</p>
<p>Do not have defaults, so are not shown until defined.</p>
<p>Accept the <code>suggestions</code> array and a <code>query</code> text as a <code>slot-scope</code> attribute values.</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- Examples: --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">vue-simple-suggest</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"misc-item-above"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"{ suggestions, query }"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"misc-item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>You're searching for {{ query }}.<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"misc-item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>{{ suggestions.length }} suggestions are shown...<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"misc-item-below"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"{ suggestions }"</span> <span class="hljs-attr">v-if</span>=<span class="hljs-string">"isLoading"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"misc-item"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Loading...<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">vue-simple-suggest</span>&gt;</span></code></pre><p>These slots can also be used to handle empty results, like this:</p>
<pre class="hljs"><code><span class="hljs-comment">&lt;!-- Main slot template --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"misc-item-above"</span> <span class="hljs-attr">slot-scope</span>=<span class="hljs-string">"{ suggestions, query }"</span>&gt;</span>

  <span class="hljs-comment">&lt;!-- Sub-template if have any suggestions --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-if</span>=<span class="hljs-string">"suggestions.length &gt; 0"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"misc-item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>You're searching for '{{ query }}'.<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"misc-item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>{{ suggestions.length }} suggestions are shown...<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>

  <span class="hljs-comment">&lt;!-- Show "No result" otherwise, if not loading new ones --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-else-if</span>=<span class="hljs-string">"!loading"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"misc-item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>No results<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span></code></pre>    </article>
  </body>
</html>
